<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="common_head(title,links)">
    <meta charset="UTF-8">
    <title th:text="${title}">泓镜客户管理系统</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/custom.css}">
    <th:block th:replace="${links}" />
</head>

<body>

<nav class="navbar-top" th:fragment="navbar">
    <a class="navbar-brand text-dark fs-4 fw-bold" href="#">泓镜客户管理系统</a>
    <div class="ms-auto">
        <span class="text-dark">管理员</span>
    </div>
</nav>


<div class="sidebar" th:fragment="sidebar(activeUri)">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" th:classappend="${activeUri == '/' ? 'active' : ''}" th:href="@{/}">工作台</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:classappend="${activeUri == '/customer/list' ? 'active' : ''}" th:href="@{/customer/list}">客户管理</a>
        </li>
         <li class="nav-item">
            <a class="nav-link" th:classappend="${activeUri == '/fund/list' ? 'active' : ''}" th:href="@{/fund/list}">基金管理</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:classappend="${activeUri == '/holding/list' ? 'active' : ''}" th:href="@{/holding/list}">持仓管理</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:classappend="${activeUri == '/transaction/list' ? 'active' : ''}" th:href="@{/transaction/list}">交易管理</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:classappend="${activeUri == '/risk/list' ? 'active' : ''}" th:href="@{/risk/list}">风险管理</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:classappend="${activeUri == '/tag/list' ? 'active' : ''}" th:href="@{/tag/list}">标签管理</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:classappend="${activeUri == '/profitloss/list' ? 'active' : ''}" th:href="@{/profitloss/list}">盈亏管理</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:classappend="${activeUri == '/visualization/dashboard' ? 'active' : ''}" th:href="@{/visualization/dashboard}">统计图表</a>
        </li>
    </ul>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>